* {
    margin:0 ;
    padding:0 ;
    text-align:center ;
    background-color: #BBB6A5;
}
/* body {
    background-image: url(background.jpg);        //#8C8C9C
    background-size: contain;
} */

h1 {
    background-color: #2A2F33;
    color:#fff ;
    height:5rem ;
    line-height:5rem ; 
}

/* .choice {
    height:170px ;
    width:170px ;
    border-radius:50% ;
    display:flex ;
    justify-content:center ;
    align-items:center ;
    
} */

.choices {
    display:flex ;
    justify-content:center ;
    align-items:center ;
    gap:3rem;
    margin: 5rem;
}

img {
    height:150px ;
    width:150px ;
    object-fit: cover;
    border-radius: 50%;
}

.choice:hover {
    cursor: pointer;
    height:150px ;
    width:150px ;
    border-radius: 50%;
    background-color: black;
    border: 4px solid #2A2F33;
}

.score-board{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2.1rem;
    margin-top: 3rem;
    gap: 5rem;
}

#user-score,
#comp-score {
    font-size: 4rem;
}

.msg-container {
    margin-top: 5rem;
    /* font-size: 1.3rem; */
}

#msg {
    background-color: #8C9491;
    color: #fff;
    font-size: 2rem;
    display: inline;
    padding: 1rem;
    border-radius: 1rem;
    /* justify-content: center; */
}


